
.bookings form {
  margin: 0 auto 1.875rem auto;
}

.form-field {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  cursor: pointer;
}

.form-field p {
  font-size: 0.9375rem;
  color: red;
}

.bookings button:disabled,
.bookings button[disabled] {
  background-color: #EDEFEE;
  border-color: #EDEFEE;
  color: #ADAFAE;
  cursor: not-allowed;
}

.confirmed-booking {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  min-height: 31.25rem;
  padding: 1.875rem 0 1.875rem 0;
  text-align: center;
}

select {
  -webkit-appearance: none !important;
-moz-appearance: none !important;
background-color: #fafafa;
height: 45px;
width: 100%;
background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAUCAMAAACtdX32AAAAdVBMVEUAAAD///8AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAhMdQaAAAAJ3RSTlMAAAECAwQGBwsOFBwkJTg5RUZ4eYCHkJefpaytrsXGy8zW3+Do8vNn0bsyAAAAYElEQVR42tXROwJDQAAA0Ymw1p9kiT+L5P5HVEi3qJn2lcPjtIuzUIJ/rhIGy762N3XaThqMN1ZPALsZPEzG1x8LrFL77DHBnEMxBewz0fJ6LyFHTPL7xhwzWYrJ9z22AqmQBV757MHfAAAAAElFTkSuQmCC);
background-position: 100%;
background-repeat: no-repeat;
border: 1px solid #ccc;
padding: 0.5rem;
border-radius: 16px;
}

input{
  background-color: #fafafa;
  border-radius: 16px;
}